#Sublime
*.sublime*

## PYORB ##

pyorb/pyorb
pyorb/deploy/requirements.txt



#pypi token
.pypirc

#vi/vim
*~
.*.swo
.*.swp

# Byte-compiled / optimized / DLL files
**/__pycache__
*.py[cod]
*$py.class

# C extensions
*.so